{{#if user}}
	<h5>Welcome Back {{user.username}}</h5>
	<ul class="alt">
	<li><a href="/{{type}}s/classes">My Classes</a></li>
	<li><a href="/users/logout">Logout</a></li>
	</ul>
{{else}}
<h4>Student & Instructor Login</h4>
	<form method="post" action="/users/login"><br>
		<label> Username: </label><br>
		<input type="text" name="username"><br>
		<label> Password: </label><br>
		<input type="password" name="password"><br><br>
		<input type="submit" class="button" value="Login">
	</form>
{{/if}}

